* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #202124;
}

nav {
    display: flex;
    align-items: center;
    padding: 6px;
}

nav .gmail_imagenes {
    display: inline-flex;

}
